body{
    color:white;
    background-size: 100% 100%;
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.top{
    display:inline-flex;
}
.input-class{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}
h4{
    color:rgb(193, 113, 255);
}
button{
    padding:5px;
    background-color:rgb(174, 62, 238);
    color:black;
    border-radius: 5px;
    border: 1px solid black;
}
.footer{
    bottom:0;
    position:fixed;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    width:100%;
    color:antiquewhite;
}